# Supabase (Project Settings > API)
NEXT_PUBLIC_SUPABASE_URL=https://eejtncxfweicvidxwlia.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlanRuY3hmd2VpY3ZpZHh3bGlhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4ODg2NzUsImV4cCI6MjA4MjQ2NDY3NX0.9bla11M6F-_4NkPgiV1LjwZL4UeNptOHYfYAlnscqEo

# MongoDB (Atlas connection string or local)
MONGODB_URI=mongodb+srv://sujayvaidya4_db_user:w4UQyIfjuv0FWm1J@cluster0.9cs7yty.mongodb.net/?appName=Cluster0

# Cloudinary (for uploaded shortcut icons)
CLOUDINARY_CLOUD_NAME=drzofbdba
CLOUDINARY_API_KEY=387163643682467
CLOUDINARY_API_SECRET=01FaI7PHnapVQtf2EQ1Pst_6fgc
